
@{
    ViewBag.Title = "ListName";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <!--------------------------------------------checkbox------------------------------------------------------------------>
    <div class="container">

        <form action="/List/SearchListName" method="post">
            <select id="optionCheck" name="optionCheck">
                <option value="0">Normal</option>
                <option value="1">Ban</option>
            </select>
            <button type="submit" class="btn btn-primary">ค้นหา</button>
      
        </form>
    </div>


        <!--------------------------------------------table------------------------------------------------------------------>

    <div class="container">
        <table id="customers">

            <tr>
                
                <th>ชื่อลูกค้า</th>
                <th>ที่อยู่(ตำบล) </th>
                <th>สถานะลูกค้า</th>
                <th>แก้ไข</th>
            </tr>

@foreach (var col in ViewBag.query)
{
            <tr>
                <td>@col.u_name @col.u_lastname</td>
                <td>@col.subarea</td>
                <td>@if(col.u_status == 0)
                {
                    <label>Normal</label>
                }
                else if (col.u_status == 1)
                {
                    <label>Ban</label>
                }
                </td>
                <td>
                    <select>
                        <!--dropdown-->
                        <option value="0">Normal</option>
                        <option value="1">Ban</option>

                    </select>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("BanUser", ("BanUser"))'">SAVE</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("History", ("History"))'">ข้อมูลเพิ่มเติม</button>
                    </td>
            </tr>
}

        </table>

        
    </div>
</body>
</html>