
@{
    ViewBag.Title = "Menu";
  
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   
    
    <div class="container">
        <table id="customers">
            <tr>
                <th>รหัสสินค้า</th>
                <th>ภาพสินค้า</th>
                <th>รายละเอียดสินค้า</th>
                <th>ราคาขายปลีก</th>
                <th>ราคาขายส่ง</th>
                <th>ราคาตัวแทนจำหน่าย</th>
                <th>ลบ</th>
            </tr>
         @foreach (var pd in ViewBag.querymenu)
         {
             <tr>
                 <td>@pd.p_id</td>
                 <td>
                     <img src="~/BG/@pd.p_image" style="width:70px;height:70px;" />
                 </td>
                 <td>@pd.p_description</td>
                 <td>@pd.retail_price</td>
                 <td>@pd.wholesale_price</td>
                 <td>@pd.agent_price</td>
                 <td>
                     <form action="/Menu/DeleteMenu" method="post">
                         <input type="hidden" id="pd_id" name="pd_id" value="@pd.p_id" />
                         <button type="submit" class="btn btn-primary" >Delete</button>
                     </form>
                 </td> 
             </tr>
         }
        </table>
    </div>


    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddMenu", ("addMenu"))'">Add Product</button>



</body>
</html>
