@using preproject2MVC.Models;

@model List<customer_order>

@{
    ViewBag.Title = "Order";
   
}



<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <!--------------------------------------------tapbar------------------------------------------------------------------>
 

    <!--------------------------------------------checkbox------------------------------------------------------------------>
    <div class="container">

        <form action="/Order/Search" method="post">
            <select id="optionCheck" name="optionCheck">
                <option value="0">ยังไม่โอน</option>
                <option value="1">โอนแล้ว</option>
                <option value="2">กำลังจัดส่ง</option>
                <option value="3">จัดส่งแล้ว</option>
            </select>
            <button type="submit" class="btn btn-primary">ค้นหา</button>
        </form>
    </div>
            <!--------------------------------------------table------------------------------------------------------------------>

    <div class="container">
        <table id="customers">
            <tr>
                <th>วัน/เดือน/ปี</th>
                <th>รหัสออเดอร์ออเดอร์</th>
                <th>ชื่อ
                ลูกค้าที่สั่ง</th>
                <th>สถานะออเดอร์</th>
                <th>แก้ไขและดูข้อมูล</th>
            </tr>
        @foreach (var col in Model)
        {
            
            <tr>
                <td>@col.date</td>
                <td>
                    @col.idorder
                </td>
                <td>
                    @col.name
                </td>
                <td>@if(col.status == 0)
                {
                    <label>ยังไม่โอน</label>
                }
                else if (col.status == 1)
                {
                    <label>โอนแล้ว</label>
                }
                else if (col.status == 2)
                {
                    <label>กำลังจัดส่ง</label>
                }
                else if (col.status == 3)
                {
                    <label>จัดส่งแล้ว</label>
                }
                </td>
                <td>
                    <form action="/Order/HOrder" method="post">
                        <input type="hidden" id="o_id" name="o_id" value="@col.idorder" />
                        <select id="option" name="option">
                            <!--dropdown-->

                            <option value="0">ยังไม่โอน</option>
                            <option value="1">โอนแล้ว</option>
                            <option value="2">กำลังจัดส่ง</option>
                            <option value="3">จัดส่งแล้ว</option>
                        </select>
                    </form>
                    
                    <button type="button" class="btn btn-success">SAVE</button>
                    <form action="/Order/HOrder" method="post">
                        <input type="hidden" id="o_id" name="o_id" value="@col.idorder" />
                        <button type="submit" class="btn btn-primary" >ข้อมูลเพิ่มเติม</button>
                    </form>
            </tr>
        }
        </table>

    </div>
    
</body>
</html>
